stages:
  - check
  - build
  - publish
  - deploy

# Общие переменные (можно оставить как есть)
variables:
  PIP_CACHE_DIR: "$CI_PROJECT_DIR/.cache/pip"
  DOCKER_TLS_CERTDIR: ""  # чтобы docker:dind не включал TLS (проще старт)
  IMAGE_TAG: "$CI_COMMIT_SHORT_SHA"
  IMAGE: "$CI_REGISTRY_IMAGE:$CI_COMMIT_SHORT_SHA"

cache:
  key: "$CI_COMMIT_REF_SLUG"
  paths:
    - .cache/pip

# ------CHECK (lint + tests)------
lint:
  stage: check
  image: python:3.12-slim
  script:
    - python -V
    - pip install -U pip
    - pip install -r requirements.txt
    - pip install ruff
    - ruff check .
  rules:
    - if: $CI_PIPELINE_SOURCE == "merge_request_event"
    - if: $CI_COMMIT_BRANCH

pytest:
  stage: check
  image: python:3.12-slim
  script:
    - pip install -U pip
    - pip install -r requirements.txt
    - pip install pytest
    - pytest -q
  rules:
    - if: $CI_PIPELINE_SOURCE == "merge_request_event"
    - if: $CI_COMMIT_BRANCH

# ------ BUILD + PUBLISH (Docker -> GitLab Registry) ------
docker build:
  stage: build
  image: docker:27
  services:
    - name: docker:27-dind
    - command: ["--mtu=1460"]
  script:
    - echo "CI_REGISTRY_PASSWORD" | dockeer login -u "$CI_REGISTRY_USER" --password-stdin "$CI_REGISTRY"
    - docker push "$IMAGE"
    - |
      if [ "$CI_COMMIT_BRANCH" = "main" ]; then
        docker tag "$IMAGE" "$CI_REGISTRY_IMAGE:latest"
        docker push "$CI_REGISTRY_IMAGE:latest"
      fi
  rules:
    - if: $CI_COMMIT_BRANCH == "main"
    - if: $CI_COMMIT_TAG

# ------ DEPLOY (Helm -> Kubernetes) ------
# ВАЖНО: KUBECONFIG берём из GitLab CI Variables (base64), в репо не храним.


.deploy_template:
  stage: deploy
  image:
    name: alpine/helm:3.15.4
    entrypoint: [""]
  before_script:
    - mkdir -p ~/.kube
    - echo "$KUBE_CONFIG_B64" | base64 -d > ~/.kube/config
    - helm version
  script:
    # пример: chart лежит в ./helm/myapp
    # RELEASE_NAME можно сделать переменной, тут для простоты myapp
    - helm upgrade --install myapp ./helm/myapp
      --namespace "$K8S_NAMESPACE" --create-namespace
      --set image.repository="$CI_REGISTRY_IMAGE"
      --set image.tag="$IMAGE_TAG"
      -f "./helm/values-$ENV_NAME.yaml"

deploy_dev:
  extends: .deploy_template
  variables:
    ENV_NAME: "dev"
    K8S_NAMESPACE: "myapp-dev"
  environment:
    name: dev
  needs: ["docker_push"]
  rules:
    - if: $CI_COMMIT_BRANCH == "main"

deploy_prod:
  extends: .deploy_template
  variables:
    ENV_NAME: "prod"
    K8S_NAMESPACE: "myapp"
  environment:
    name: production
  needs: ["docker push"]
  when: manual
  allow_failure: false
  rules:
    - if: $CI_COMMIT_TAG
