stages:
  - check
  - build
  - publish
  - deploy

variables:
  DOCKER_TLS_CERTDIR: ""
  IMAGE_TAG: "$CI_COMMIT_SHORT_SHA"
  IMAGE: "$CI_REGISTRY_IMAGE:$CI_COMMIT_SHORT_SHA"

helm_check:
  stage: check
  image:
    name: alpine/helm:3.15.4
    entrypoint: [""]
  script:
    - helm lint helm/myapp
    - helm template myapp helm/myapp -f helm/myapp/values-dev.yaml > /dev/null
  rules:
    - if: $CI_COMMIT_BRANCH

docker_build:
  stage: build
  image: docker:27
  services:
    - name: docker:27-dind
      command: ["--mtu=1460"]
  script:
    - echo "$CI_REGISTRY_PASSWORD" | docker login -u "$CI_REGISTRY_USER" --password-stdin "$CI_REGISTRY"
    - docker build -t "$IMAGE" .
  rules:
    - if: $CI_COMMIT_BRANCH == "main"
    - if: $CI_COMMIT_TAG

docker_push:
  stage: publish
  image: docker:27
  services:
    - name: docker:27-dind
      command: ["--mtu=1460"]
  needs: ["docker_build"]
  script:
    - echo "$CI_REGISTRY_PASSWORD" | docker login -u "$CI_REGISTRY_USER" --password-stdin "$CI_REGISTRY"
    - docker push "$IMAGE"
  rules:
    - if: $CI_COMMIT_BRANCH == "main"
    - if: $CI_COMMIT_TAG

.deploy_template:
  stage: deploy
  image:
    name: alpine/helm:3.15.4
    entrypoint: [""]
  before_script:
    - mkdir -p ~/.kube
    - echo "$KUBE_CONFIG_B64" | base64 -d > ~/.kube/config
    - helm version
  script:
    - helm upgrade --install myapp ./helm/myapp \
        --namespace "$K8S_NAMESPACE" --create-namespace \
        --set image.repository="$CI_REGISTRY_IMAGE" \
        --set image.tag="$IMAGE_TAG" \
        -f "./helm/myapp/values-$ENV_NAME.yaml"

deploy_dev:
  extends: .deploy_template
  variables:
    ENV_NAME: "dev"
    K8S_NAMESPACE: "myapp-dev"
  needs: ["docker_push"]
  rules:
    - if: $CI_COMMIT_BRANCH == "main"

deploy_prod:
  extends: .deploy_template
  variables:
    ENV_NAME: "prod"
    K8S_NAMESPACE: "myapp"
  needs: ["docker_push"]
  when: manual
  allow_failure: false
  rules:
    - if: $CI_COMMIT_TAG
